.sobre{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  position: relative;
}

.sobre h2{
  padding: 95.5px 0 8px 0;
}

.sobre p{
  max-width: 40ch;
  padding-bottom: 40px;
}

.sobre-img img{
  margin: -4px;
}

@media (max-width: 1060px){
  .sobre{
    grid-template-columns: 1fr;
    text-align: center;
    padding-bottom: 40px;
  }

  .sobre-img{
    position: absolute;
    width: 100px;
    bottom: 0px;
    right: 0;
    opacity: 0.6;
    pointer-events: none;
  }
}