* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

img{
  max-width: 100%;
}

.container{
  max-width: 1680px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
ul,
blockquote,
a,
p {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}


