.menu {
  display: flex;
  gap: 32px;
  padding: 32px 0;
}

.btn-menu-mob{
  display: none;
}

.btn-close-mob{
  display: none;
}

.inicio{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10px
}

.titulo-inicio{
  padding-top: 80px;
}

.titulo-inicio span{
  padding: 12px 24px;
  margin-bottom: 24px;
  border-radius: 10px;
}

.titulo{
  padding-top: 24px;
}

.inicio-botoes{
  padding-top: 40px;
}

.inicio-botoes a{
  margin: 0 8px;
}

.inicio-imagem{
  justify-self: end;
}

.inicio-imagem img{
  margin-bottom: -4px;
}

@media (max-width: 860px) {
  .inicio-imagem{
    position: absolute;
    width: 100px;
    bottom: 0px;
    opacity: 0.4;
    pointer-events: none;
  }

  .inicio{
    grid-template-columns: 1fr;
    justify-items: center;
    padding-bottom: 30px;
    text-align: center;
  }

  .menu{
    opacity: 0;
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    position: fixed;
    background-color:#463621de;
    color:#ffffff;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    transition: 0.3s;
    z-index: 3;
  }

  .btn-close-mob{
    display: initial;
    position: absolute;
    top: 40px;
    right:40px;
  }

  nav{
    display: grid;
  }

  .btn-menu-mob{
    display: block;
    justify-self: right;
    padding-top: 20px;
    padding-right: 20px;
  }

  .show{
    opacity: 1;
    pointer-events: all;
  }
}

@media (max-width: 500px){
  .inicio-botoes{
    display: grid;
    justify-items: center;
    gap: 20px;
  }
}